.container {
  max-width: 1150px;
  margin: 80px auto;
  .images-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    a {
      img {
        max-width: 100%;
        background-size: cover;
        width: 250px;
        height: 200px;
      }
    }
  }
}
.popup {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.699);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  display: none;
  .inner {
    position: relative;
    border: 10px solid white;
    .slider-image {
      max-width: 800px;
      max-height: 600px;
      background-color: white;
      img {
        max-width: 100%;
      }
    }
    .close {
      position: absolute;
      top: -10px;
      right: -10px;
      background-color: black;
      border-radius: 50%;
      cursor: pointer;
      i {
        color: white;
        font-size: 20px;
      }
    }
    .arrows {
      position: absolute;
      width: 100%;
      top: 50%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .left-arrow {
        background-color: white;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
      }
      .right-arrow {
        background-color: white;
        border-radius: 50%;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
