* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	background-image: url("../image/bg-image.png");
	background-repeat: no-repeat;
	background-size: cover;
}
.container {
	max-width: 1150px;
	margin: 50px auto;
	#form-sign-in {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 500px;
		transition: 1s;
	}
	#image-gallery {
		display: none;
		transition: 1s;
		.upload-icon {
			font-size: 24px;
			color: rgb(250, 234, 15);
			cursor: pointer;
			padding: 20px;
			transition: 0.5s;
			right: 0;
			top: 0;
			position: absolute;
			&:hover {
				color: rgb(250, 140, 15);
			}
		}
		.upload-btn {
			display: none;
		}
		.images-cards {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 20px;
			a {
				border: 5px solid white;
				overflow: hidden;
				width: 250px;
				height: 200px;
				transition: .5s;
				img {
					background-size: cover;
					width: 100%;
					height: 100%;
					transition: 1s;
					&:hover {
						transform: scale(1.1);
					}
				}
				&:hover {
					box-shadow: 0px 0px 8px 8px white;
				}
			}
		}
		.uploda-image {
			position: absolute;
			right: 0;
			top: 0;
		}
	}
}

.popup {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.473);
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	justify-content: center;
	align-items: center;
	display: none;
	.inner {
		position: relative;
		border: 10px solid white;
		overflow: hidden;
		.slider-image {
			width: 800px;
			height: 560px;
			background-color: white;
			img {
				width: 100%;
				height: 100%;
			}
		}
		.close {
			position: absolute;
			top: 0px;
			right: 0px;
			background-color: black;
			border-radius: 50%;
			z-index: 99999;
			cursor: pointer;
			i {
				color: white;
				font-size: 20px;
			}
		}
		.arrows {
			position: absolute;
			width: 100%;
			top: 50%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			color: white;
			.left-arrow {
				border-radius: 50%;
				font-size: 25px;
				font-weight: 900;
				cursor: pointer;
				transition: 0.5s;
				padding: 0 20px;
				&:hover {
					transform: scale(1.4);
				}
			}
			.right-arrow {
				border-radius: 50%;
				font-size: 25px;
				font-weight: 900;
				cursor: pointer;
				transition: 0.5s;
				padding: 0 20px;
				&:hover {
					transform: scale(1.4);
				}
			}
		}
	}
}
.form-login-user {
	display: flex;
	text-align: center;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.label-login {
		color: white;
		font-size: 16px;
		padding: 5px;
	}
}

.user-style {
	font-size: 40px;
	color: rgba(255, 255, 255, 0.911);
	text-align: center;
	margin-bottom: 20px;
}

.big-image-slide-effect {
	transition: 2s;
	transform: translateX(-100%);
}
